Functional test for Compatibility Mode (RFC 8448) 

## **Problem:**
Related issue #1328 #1163 
TLS1.3 uses different keys at different points in the handshake. We should prove / test that we're using the right key at the right time. See the RFC's state machine diagram for a quick review of when each key is used: https://tools.ietf.org/html/rfc8446#appendix-A

## **Proposed Solution:**
Provide functional tests to verify the example of a client requesting the server use compatibility mode, as defined in RFC 8446 Appendix D.4 https://tools.ietf.org/html/rfc8446#appendix-D.4 .
See [RFC 8448 Section 7. Functional test for Compatibility Mode](https://tools.ietf.org/html/rfc8448#section-7) 


Resolving this issue as our unit and integration test cover this use case. 