Add Duvet annotations for RFC8446 Section 5

### Problem:

[Duvet](https://github.com/awslabs/duvet) is a tool that generates a report linking [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119) requirements to their implementations and tests. Duvet depends on annotations in the form of code comments to generate this report. This issue focuses on [RFC8446 Section 5](https://www.rfc-editor.org/rfc/rfc8446#section-5) which is the TLS1.3 Record protocol.

### Solution:

Implement tests where needed. Add annotations for tests and implementations.

- [ ] An implementation may receive an unencrypted record of type change_cipher_spec consisting of the single byte value 0x01 at any time after the first ClientHello message has been sent or received and before the peer's Finished message has been received and MUST simply drop it without further processing. 
- [ ] An implementation which receives any other change_cipher_spec value or which receives a protected change_cipher_spec record MUST abort the handshake with an "unexpected_message" alert. 
- [ ] If a TLS implementation receives an unexpected record type, it MUST terminate the connection with an "unexpected_message" alert. 
- [ ] If an implementation detects a change_cipher_spec record received before the first ClientHello message or after the peer's Finished message, it MUST be treated as an unexpected record type (though stateless servers may not be able to distinguish these cases from allowed cases). 
- [ ] Implementations MUST NOT send record types not defined in this document unless negotiated by some extension. 
- [ ] - Handshake messages MUST NOT be interleaved with other record types. 
- [ ] - Handshake messages MUST NOT span key changes. 
- [ ] Alert messages (Section 6) MUST NOT be fragmented across records, and multiple alert messages MUST NOT be coalesced into a single TLSPlaintext record. 
- [ ] An endpoint that receives a record that exceeds this length MUST terminate the connection with a "record_overflow" alert. 
- [ ] Any future content types MUST specify appropriate rules. 
- [ ] Application Data fragments MAY be split across multiple records or coalesced into a single record. 
- [ ] Because the ClientHello, EndOfEarlyData, ServerHello, Finished, and KeyUpdate messages can immediately precede a key change, implementations MUST send these messages in alignment with a record boundary. 
- [ ] Handshake messages MAY be coalesced into a single TLSPlaintext record or fragmented across several records, provided that: 
- [ ] Implementations MUST NOT send zero-length fragments of Handshake types, even if those fragments contain padding. 
- [ ] Implementations MUST verify that all messages immediately preceding a key change align with a record boundary; if not, then they MUST terminate the connection with an "unexpected_message" alert. 
- [ ] In order to maximize backward compatibility, a record containing an initial ClientHello SHOULD have version 0x0301 (reflecting TLS 1.0) and a record containing a second ClientHello or a ServerHello MUST have version 0x0303 (reflecting TLS 1.2). 
- [ ] In other words, a record with an Alert type MUST contain exactly one message. 
- [ ] Note that Application Data records MUST NOT be written to the wire unprotected (see Section 2 for details). 
- [ ] That is, if a handshake message is split over two or more records, there MUST NOT be any other records between them. 
- [ ] The length MUST NOT exceed 2^14 bytes. 
- [ ] This field is deprecated and MUST be ignored for all purposes. 
- [ ] Zero-length fragments of Application Data MAY be sent, as they are potentially useful as a traffic analysis countermeasure. 
- [ ] legacy_record_version: MUST be set to 0x0303 for all records generated by a TLS 1.3 implementation other than an initial ClientHello (i.e., one not generated after a HelloRetryRequest), where it MAY also be 0x0301 for compatibility purposes. 
- [ ] (Missing Test) An AEAD algorithm used in TLS 1.3 MUST NOT produce an expansion greater than 255 octets. 
- [ ] An endpoint that receives a record from its peer with TLSCiphertext.length larger than 2^14 + 256 octets MUST terminate the connection with a "record_overflow" alert. 
- [ ] (Missing Test) An endpoint that receives a record that exceeds this length MUST terminate the connection with a "record_overflow" alert. 
- [ ] If the decryption fails, the receiver MUST terminate the connection with a "bad_record_mac" alert. 
- [ ] (Missing Test) The length MUST NOT exceed 2^14 + 256 bytes. 
- [ ] An AEAD algorithm where N_MAX is less than 8 bytes MUST NOT be used with TLS. 
- [ ] (Missing Test) Each sequence number is set to zero at the beginning of a connection and whenever the key is changed; the first record transmitted under a particular traffic key MUST use sequence number 0. 
- [ ] If a TLS implementation would need to wrap a sequence number, it MUST either rekey (Section 4.6.3) or terminate the connection. 
- [ ] If a receiving implementation does not find a non-zero octet in the cleartext, it MUST terminate the connection with an "unexpected_message" alert. 
- [ ] Implementations MUST NOT send Handshake and Alert records that have a zero-length TLSInnerPlaintext.content; if such a message is received, the receiving implementation MUST terminate the connection with an "unexpected_message" alert. 
- [ ] Implementations MUST limit their scanning to the cleartext returned from the AEAD decryption. 
- [ ] Implementations MUST set the padding octets to all zeros before encrypting. 
- [ ] The presence of padding does not change the overall record size limitations: the full encoded TLSInnerPlaintext MUST NOT exceed 2^14 + 1 octets. 
- [ ] When generating a TLSCiphertext record, implementations MAY choose to pad. 
- [ ] Implementations SHOULD do a key update as described in Section 4.6.3 prior to reaching these limits. 

### Requirements / Acceptance Criteria:

Approval from another member of the team.

### Out of scope:

Non-test Implementations

[//]: #  (NOTE: If you believe this might be a security issue, please email aws-security@amazon.com instead of creating a GitHub issue. For more details, see the AWS Vulnerability Reporting Guide: https://aws.amazon.com/security/vulnerability-reporting/ )
