TLS-RFC compliance

Hi,
we (@jurajsomorovsky @ic0ns @mmaehren @XoMEX @Kavakuo) are performing an analysis of the RFC-compliance of open-source TLS implementations. Below we list our findings for this implementation. We admit that some are rather nit-picky, but we added them for the sake of completeness. We tried to keep the descriptions brief and didn’t want to spam the issues section so feel free to split up the list into individual issues as you see fit.
If you disagree with our interpretation of certain RFC statements, please leave feedback as we’re interested in your view.

Our results apply to the default configuration of version ***0.10.24***. We used the example implementations for client and server.

[S] = Applies to server
[C] = Applies to client
[C+S] = Applies to both

## Session not aborted
- [C] upon receiving a ServerKeyExchange message that selects X25519 or secp521r1 even though s2n client did not offer these
    - s2n rejects other curves correctly

- [C] upon receiving a ServerHello that contains an unproposed extension such as encrypt-then-MAC or GREASE extension types
    - Note that s2n still does not operate in encrypt-then-MAC mode and this does not apply to all extensions
    - MaximumFragmentLength for example results in an error ("Illegal use of a known, supported extension")
    - RFC 5246 - 7.4.1.4. Hello Extensions
        > If a client receives an extension type in ServerHello that it did not request in the associated ClientHello, it MUST abort the handshake with an unsupported_extension fatal alert.

- [S] upon receiving a Heartbeat message within the handshake when the client did not send the Heartbeat extension before
    - s2n does not close the TCP connection
    - Note that RFC 6520 does not explicitly state that a client must not send a Heartbeat message without offering the Heartbeat extension. However, a client could not fullfil that it must respect the peer's heartbeat mode as the server must not add an unsolicited Heartbeat extension.

- [S] upon receiving a 'close notify' alert in response to s2n's first batch of handshake messages
    - s2n does not respond with a 'close notify' and does not seem to close the TCP connection

- [S] upon receiving a second ChangeCipherSpec message sent after the handshake
    - s2n proceeds to decrypt subsequent application data

- [S] upon receiving a plaintext that exceeds 2^14 bytes
    - RFC5246 - 6.2.1 Fragmentation
        > The length (in bytes) of the following TLSPlaintext.fragment. The length MUST NOT exceed 2^14.

- [S] upon receiving an undefined record type
    - s2n seems to go into some error state (tested for CH) as it did not respond to further messages
    - the TCP connection has not been closed

- [S] upon receiving a Hello message with an empty compression algorithm list
    - RFC5246 - 7.4.1.2 Client Hello
        > This vector MUST contain, and all implementations MUST support, CompressionMethod.null.

- [S] upon receiving a Signature(AndHash)Algorithms extension that has an odd list lengthfield
    - Note that our test includes an even number of bytes but reduces the length of the list by one, leaving one trailing byte out of the list
    - s2n either parses 2 bytes for each algorithm until the end has been reached and thereby parses over the array or only parses until a suitable algorithm has been found

- [S] upon receiving a Padding extension that contains bytes other than 0x00
    - Please leave a comment if your implementation does not support this extension and hence ignores the content
    - RFC 7685 - 3. Padding Extension
        > The client MUST fill the padding extension completely with zero bytes, although the padding extension_data field may be empty.

- [S] upon receiving a SupportedPointFormat extension that only accepts compressed points or an invalid format
    - RFC 8422 -  5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.

- [S] upon receiving a SupportedPointFormat extension with an invalid format list lengthfield that results in a seemingly empty list
    - Our test includes the uncompressed format and still sets the length to 0 leaving a byte unprocessed
    - This should yield a fatal alert as a byte is left unprocessed or due to RFC 8422 5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.


- [S] upon receiving a ClientHello that contains elliptic curve extensions but no ECC cipher suite
    - 8422 -  4. TLS Extensions for ECC
        > The client MUST NOT include these extensions in the ClientHello message if it does not propose any ECC cipher suites.

- [C] s2n client often does not close the TCP connection and does not send an alert if an error occurs:
    - upon receiving a message with invalid lengthfield (lengthfield reduced by one which results in a parsing error)
	- upon receiving a record with an invalid AEAD tag/ciphertext
	- upon receiving an invalid CBC-encrypted record (invalid padding / MAC / ciphertext)
	- upon receiving an invalid verify_data in the Finished message
	- upon receiving a record that poses a record overflow error
	- upon receiving a Close Notify warning alert
	- upon receiving a ServerHello that negotiates an unproposed compression method
	- upon receiving an invalid ServerKeyExchange message (invalid algorithm / key share / signature or missing signature)
	- upon receiving a record with an undefined content type

## Only session closed but no alert sent

- [S] upon a parsing error due to an invalid lengthfield within a handshake message
- [S] upon receiving a record with an invalid AEAD authentication tag/ciphertext
- [S] upon receiving a CBC-mode protected record with invalid MAC/ciphertext or padding
- [C+S] upon receiving a ChangeCipherSpec message with invalid content (any content other than 0x01)
- [S] upon receiving a Finished message with invalid verify_data
- [C+S] upon receiving an empty record (length 0)
- [C+S] upon receiving a Hello message that only offers a legacy version not supported by s2n
- [C+S] upon receiving a Finished message prior to a ChangeCipherSpec
- [S] upon receiving an RSA-encrypted premastersecret with invalid PKCS1.5 padding
- [S] upon receiving a ClientHello that contains the fallback SCSV cipher suite when no version fallback should have happened
- [S] upon receiving a ClientHello that only offers ECC cipher suites but no curve supported by s2n
- [S] upon receiving an unexpected record at the beginning of a handshake
- [C+S] upon receiving a handshake message out of the expected message order

Hey thanks for opening this issue! It will probably take us a while to review all these compliance issues and verify whether or not our non-compliance was intentional. 

Another second thanks for the list from me; this is an awesome set. Many of these are intentional ... we know we're breaking RFC law by not sending error codes or closing connections ... but our design goal there is to frustrate potential attacks whenever we can. It can make it harder to debug some issues, but the thinking is 1) there are really only a small number of experts on earth who ever debug TLS connections at that level 2) there are lots of attackers who try to do interesting error-some things with connections and see what happens, and leaking information to them can aid some kinds of attacks (distinguishing MAC vs decryption failures is the classic example of an oracle here). 

Hey, based on the feedback we received from other developers, we split up the reports to separate cases where the RFC imposes restrictions on a sender but does not require the receiver to enforce these restrictions. You find these at the bottom of the comment. We didn't edit the initial report to avoid confusion. Note that we also removed the reported lack of alerts in the list below, as you already replied that this is intentional.

## Session not aborted
- [C] upon receiving a ServerKeyExchange message that selects X25519 or secp521r1 even though s2n client did not offer these
    - s2n rejects other curves correctly

- [C] upon receiving a ServerHello that contains an unproposed extension such as encrypt-then-MAC or GREASE extension types
    - Note that s2n still does not operate in encrypt-then-MAC mode and this does not apply to all extensions
    - MaximumFragmentLength for example results in an error ("Illegal use of a known, supported extension")
    - RFC 5246 - 7.4.1.4. Hello Extensions
        > If a client receives an extension type in ServerHello that it did not request in the associated ClientHello, it MUST abort the handshake with an unsupported_extension fatal alert.

- [S] upon receiving a Heartbeat message within the handshake when the client did not send the Heartbeat extension before
    - s2n does not close the TCP connection
    - Note that RFC 6520 does not explicitly state that a client must not send a Heartbeat message without offering the Heartbeat extension. However, a client could not fullfil that it must respect the peer's heartbeat mode as the server must not add an unsolicited Heartbeat extension.

- [S] upon receiving a second ChangeCipherSpec message sent after the handshake
    - s2n proceeds to decrypt subsequent application data

- [S] upon receiving a plaintext that exceeds 2^14 bytes
    - RFC5246 - 6.2.1 Fragmentation
        > The length (in bytes) of the following TLSPlaintext.fragment. The length MUST NOT exceed 2^14.

- [S] upon receiving a Signature(AndHash)Algorithms extension that has an odd list lengthfield
    - Note that our test includes an even number of bytes but reduces the length of the list by one, leaving one trailing byte out of the list
    - s2n either parses 2 bytes for each algorithm until the end has been reached and thereby parses over the array or only parses until a suitable algorithm has been found

- [S] upon receiving a SupportedPointFormat extension that only accepts compressed points or an invalid format
    - RFC 8422 -  5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.

- [S] upon receiving a SupportedPointFormat extension with an invalid format list lengthfield that results in a seemingly empty list
    - Our test includes the uncompressed format and still sets the length to 0 leaving a byte unprocessed
    - This should yield a fatal alert as a byte is left unprocessed or due to RFC 8422 5.1. Client Hello Extensions
        > If the client sends the extension and the extension does not contain the uncompressed point format, and the client has used the Supported Groups extension to indicate support for any of the curves defined in this specification, then the server MUST abort the handshake and return an illegal_parameter alert.



## Unenforced sender restrictions
**In the following cases, the receiver is not explicitly required to terminate the connection upon detecting a misbehavior of the peer.**
- [S] upon receiving a Hello message with an empty compression algorithm list
    - RFC5246 - 7.4.1.2 Client Hello
        > This vector MUST contain, and all implementations MUST support, CompressionMethod.null.

- [S] upon receiving a Padding extension that contains bytes other than 0x00
    - Please leave a comment if your implementation does not support this extension and hence ignores the content
    - RFC 7685 - 3. Padding Extension
        > The client MUST fill the padding extension completely with zero bytes, although the padding extension_data field may be empty.


Based on the feedback we received from @tomato42, we removed the reported issue where a client sends an elliptic curve extension but does not offer an elliptic curve cipher suite as terminating the connection may cause interoperability issues.