Integration/Unit tests: TLS1.3 server does not send cert chain using SHA-1 unless client specifies it in signature_algorithms_cert

Related to #891 891 
## **Problem:**
RFC 8446 Section 4.4.2.2
We MUST ensure that TLS1.3 provides a cert chain that relies on SHA-1 signatures ONLY if it is the only option AND the client specifically indicates SHA-1 signatures are acceptable in signature_algorithms_cert.

## **Proposed Solution:**
Unit test and/or integration tests to verify correct behavior with cert selection given legacy signature algorithms.


We added a check [here](https://github.com/aws/s2n-tls/blob/main/tls/s2n_x509_validator.c#L602) that clients/servers refuse to validate their peer's certificate if its signature algorithm is sha_1 and the protocol negotiated is TLS13. This check is tested [here](https://github.com/aws/s2n-tls/blob/main/tests/unit/s2n_x509_validator_certificate_signatures_test.c#L106). Technically this validation only occurs if your security policy [has a certificate_signature_preferences list](https://github.com/aws/s2n-tls/blob/main/tls/s2n_x509_validator.c#L564), but considering that the default_tls13 security policy list does, I think we can say that we've satisfied this requirement.
Compliance comments would be great here, but for now, I feel comfortable closing this issue.