Functional test for Simple 1-RTT Handshake (RFC 8448)

## **Problem:**
Issue #1328  TLS1.3 uses different keys at different points in the handshake. We should prove / test that we're using the right key at the right time. See the RFC's state machine diagram for a quick review of when each key is used: https://tools.ietf.org/html/rfc8446#appendix-A

## **Proposed Solution:**
Provide functional tests to verify the example Simple 1-RTT Handshake incrementally. 
See [RFC 8448 Section 3. Simple 1-RTT Handshake](https://tools.ietf.org/html/rfc8448#section-3)


Resolving this issue as our unit and integration test cover this use case. 